.padding {
    
    padding-top: 100px;

}
.main{
    background: url('../../assets/imgs/arriere-plan.jpg') no-repeat center/cover;
    height: 100vh;
}
.logo ion-icon{
    align-items: center;
    font-size: 9em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo img{
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo {
    position: relative;
    height: 250px;
}


.tel {
    
    box-shadow: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
