<ion-content >
  <div class="main">

    <div class="padding">
      
      <div class="logo">
        
        <ion-icon color="light" name="person-circle-outline"></ion-icon>
        <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
        <!-- <img src="../../assets/logo.png"> -->
      </div>
      
      <ion-item class="tel">
        <ion-icon slot="start" name="call-outline"></ion-icon>  
        <ion-input color="dark" type="tel" placeholder="telephone"></ion-input>
      </ion-item>
      
      
      <ion-button (click)="onClick()" color="light" expand="block" shape="round" fill="outline">Connexion</ion-button>
      
      
    </div>
  </div>
</ion-content>
