
<ion-content>

  <div class="main">

    <div class="padding">
      
      <div class="logo">
        
        <ion-icon name="key-outline"></ion-icon>
        <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
        <!-- <img src="../../assets/logo.png"> -->
      </div>
      
      <ion-item class="tel">
        <ion-icon name="key-outline"></ion-icon>
        <ion-input color="dark" type="code" placeholder="code confirmation"></ion-input>
      </ion-item>
      
      
      <ion-button [routerLink]="'/home'" color="light" expand="block" shape="round" fill="outline">Valider</ion-button>
      
      
    </div>
  </div>

</ion-content>
