<ion-header>
  <ion-toolbar>
    <ion-title>edit-jardin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="updateLocationForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descrition</ion-label>
      <ion-input formControlName="description" type="text" required>
      </ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Add Location</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
