.zone{
    position: relative;
    box-sizing: border-box;
    width: 90%;
    margin: 20px auto;
    margin-bottom: 10px;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;

    .icon {
        height: 10vh;
        width: 10vw;
        position: absolute;
        top: 15px;
        right: 2px;
        box-sizing: border-box;
        background-color: rgb(122, 197, 156);
        border-bottom-left-radius: 80px 80px;
        color: transparent;

    }
}

.imZone {
    height: max-content;
    width: max-content;
}